$side-bar-bg: #13192c;
$white-color: #ffffff;
$black-color: #000;
$content-bg: #181e30;
$theme-color: #3cba6d;
$grey-color: grey;
$SVG-GREEN-COLOR: invert(60%) sepia(51%) saturate(506%) hue-rotate(91deg)
  brightness(91%) contrast(92%);
$SVG-WHITE-COLOR: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
  brightness(103%) contrast(103%);
$hover-bg-color: #242540;

// font-size
$font-size-one: 0.375rem;
$font-size-two: 0.5rem;
$font-size-three: 0.625rem;
$font-size-four: 0.75rem;
$font-size-five: 0.875rem;
$font-size-six: 1rem;
$font-size-seven: 1.125rem;
$font-size-eight: 1.25rem;
$font-size-nine: 1.375rem;
$font-size-ten: 1.5rem;
$font-size-eleven: 1.625rem;
$font-size-twelve: 1.75rem;
$font-size-thirteen: 1.875rem;
$font-size-fourteen: 2rem;
$font-size-fifteen: 2.125rem;
$font-size-sixteen: 2.25rem;
$font-size-seventeen: 2.375rem;
$font-size-eighteen: 2.5rem;
$font-size-ninteen: 2.625rem;
$font-size-twenty: 2.75rem;

// line-height
$font-line-height-one: 0.75rem;
$font-line-height-two: 0.875rem;
$font-line-height-three: 1rem;
$font-line-height-four: 1.188rem;
$font-line-height-four-1: 1.313rem;
$font-line-height-five: 1.5rem;
$font-line-height-six: 1.75rem;
$font-line-height-seven: 1.875rem;
$font-line-height-eight: 2.188rem;

// letter-spacing
$font-letter-spacing-one: -0.01em;
$font-letter-spacing-two: 0.25px;
$font-letter-spacing-three: 0.15px;

// font-weight
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// font-style
$font-style-normal: normal;
$font-style-italic: italic;
$font-style-oblique: oblique;

%font {
  color: $black-color;
  letter-spacing: $font-letter-spacing-one;
  font-style: $font-style-normal;
}

%font12r {
  font-weight: $font-weight-normal;
  font-size: $font-size-four;
  line-height: $font-line-height-two;

  @extend %font;
}

%font12m {
  font-weight: $font-weight-medium;
  font-size: $font-size-four;
  line-height: $font-line-height-two;

  @extend %font;
}

%font12b {
  font-weight: $font-weight-bold;
  font-size: $font-size-four;
  line-height: $font-line-height-two;

  @extend %font;
}

%font14r {
  font-weight: $font-weight-normal;
  font-size: $font-size-five;
  line-height: $font-line-height-three;

  @extend %font;
}

%font14m {
  font-weight: $font-weight-medium;
  font-size: $font-size-five;
  line-height: $font-line-height-three;

  @extend %font;
}

%font14b {
  font-weight: $font-weight-bold;
  font-size: $font-size-five;
  line-height: $font-line-height-three;

  @extend %font;
}

%font16s {
  letter-spacing: $font-letter-spacing-three;
  font-weight: $font-weight-light;
  font-size: $font-size-six;
  line-height: $font-line-height-five;

  @extend %font;
}

%font16r {
  letter-spacing: $font-letter-spacing-three;
  font-weight: $font-weight-normal;
  font-size: $font-size-six;
  line-height: $font-line-height-four;

  @extend %font;
}

%font16m {
  letter-spacing: $font-letter-spacing-three;
  font-weight: $font-weight-medium;
  font-size: $font-size-six;
  line-height: $font-line-height-four;

  @extend %font;
}

%font16b {
  letter-spacing: $font-letter-spacing-three;
  font-weight: $font-weight-bold;
  font-size: $font-size-six;
  line-height: $font-line-height-four;

  @extend %font;
}

%font18r {
  letter-spacing: $font-letter-spacing-two;
  font-weight: $font-weight-normal;
  font-size: $font-size-seven;
  line-height: $font-line-height-four-1;

  @extend %font;
}

%font18m {
  letter-spacing: $font-letter-spacing-two;
  font-weight: $font-weight-medium;
  font-size: $font-size-seven;
  line-height: $font-line-height-four-1;

  @extend %font;
}

%font18b {
  letter-spacing: $font-letter-spacing-two;
  font-weight: $font-weight-bold;
  font-size: $font-size-seven;
  line-height: $font-line-height-four-1;

  @extend %font;
}

%font20m {
  font-weight: $font-weight-medium;
  font-size: $font-size-eight;
  line-height: $font-line-height-five;

  @extend %font;
}

%font20r {
  font-weight: $font-weight-normal;
  font-size: $font-size-eight;
  line-height: $font-line-height-five;

  @extend %font;
}

%font24r {
  font-weight: $font-weight-normal;
  font-size: $font-size-ten;
  line-height: $font-line-height-four-1;

  @extend %font;
}

%font24m {
  font-weight: $font-weight-medium;
  font-size: $font-size-ten;
  line-height: $font-line-height-four-1;

  @extend %font;
}

%font24b {
  font-weight: $font-weight-bold;
  font-size: $font-size-ten;
  line-height: $font-line-height-seven;

  @extend %font;
}

%font26m {
  font-weight: $font-weight-medium;
  font-size: $font-size-eleven;
  line-height: $font-line-height-seven;

  @extend %font;
}

%font26r {
  letter-spacing: $font-letter-spacing-one;
  font-weight: $font-weight-normal;
  font-size: $font-size-eleven;
  line-height: $font-line-height-seven;

  @extend %font;
}

%font28r {
  letter-spacing: $font-letter-spacing-one;
  font-weight: $font-weight-medium;
  font-size: $font-size-twelve;
  line-height: $font-line-height-six;

  @extend %font;
}

%font30m {
  letter-spacing: $font-letter-spacing-one;
  font-weight: $font-weight-medium;
  font-size: $font-size-thirteen;
  line-height: $font-line-height-eight;

  @extend %font;
}

%font30b {
  letter-spacing: $font-letter-spacing-one;
  font-weight: $font-weight-bold;
  font-size: $font-size-thirteen;
  line-height: $font-line-height-eight;

  @extend %font;
}

%font36r {
  letter-spacing: $font-letter-spacing-one;
  font-weight: $font-weight-medium;
  font-size: $font-size-sixteen;
  line-height: $font-line-height-eight;

  @extend %font;
}

%font36m {
  letter-spacing: $font-letter-spacing-one;
  font-weight: $font-weight-medium;
  font-size: $font-size-sixteen;
  line-height: $font-line-height-eight;

  @extend %font;
}
