$side-bar-bg: #13192c;
$white-color: #ffffff;
$content-bg: #181e30;
$theme-color: #3cba6d;
$SVG-GREEN-COLOR: invert(60%) sepia(51%) saturate(506%) hue-rotate(91deg)
  brightness(91%) contrast(92%);
$SVG-WHITE-COLOR: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
  brightness(103%) contrast(103%);
