@import '../../Styles/Variable.scss';

.content-wrapper {
  width: 100%;

  & .slider {
    width: 100%;
    display: flex;

    & .main-slider {
      width: 90%;
      position: relative;
      height: 32rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .slide-leaf {
        position: absolute;
        transition: all 0.85s ease-in-out;
        border-radius: 25px;
      }
    }

    & .slider-controls {
      width: 10%;
      display: flex;

      & .slider-btn {
        background-color: $theme-color;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }

  & .featured-list {
    width: 100%;
    height: 20rem;
    position: relative;

    & .heading {
      color: white;
      font-size: 18px;
      font-weight: 600;
    }

    & .list-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      & .card-outer {
        width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        & .img {
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          cursor: pointer;
        }

        & .details {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 15px;

          & .head {
            margin: 5px 0px;
            @extend %font18b;
            color: white;
          }

          & .sub-head {
            color: $grey-color;
            @extend %font12r;
          }
        }
      }
    }
  }
}
