@import '../../Styles/Variable.scss';

.side-bar-section {
  & .logo {
    font-size: 22px;
    font-weight: 600;
    color: $theme-color;
    margin: 2rem 0rem 5rem 2rem;
  }

  & .header-section {
    display: flex;
    flex-direction: column;
  }
}
