.content-wrapper {
  width: 100%;
  & .searchable-input {
    width: 100%;
  }

  & .main-slider {
    width: 90%;
    position: relative;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .slide-leaf {
      position: absolute;
      transition: all 0.85s ease-in-out;
      border-radius: 25px;
    }
  }
}
