@import '../../Styles/Variable.scss';

.input-wrapper {
  width: 60%;
  height: 100%;
  position: relative;
  padding: 1rem 25px;

  & .input {
    border: none;
    width: 100%;
    display: block;
    min-height: 3rem;
    height: auto;
    border-radius: 6px;
    color: white;
    background-color: $content-bg;
    outline: none;
    padding-left: 50px;
    border: $side-bar-bg 2px solid;
  }
  & .input::placeholder {
    font-size: 16px;
  }
  & .input:focus {
    border: $theme-color 2px solid;
  }

  & .search-icon-wrapper {
    position: absolute;
    top: 27px;
    left: 40px;
  }
}
