@import '../../Styles/Variable.scss';

.browse {
  width: 100%;
  padding: 0px 1.5rem;

  & .head-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;

    & .slider-controls {
      display: flex;

      & .slider-btn {
        background-color: $theme-color;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5px;
      }
    }

    & .text {
      @extend %font24b;
      color: $white-color;
    }
  }

  & .slider-wrapper {
    width: 100%;
    height: 18rem;
    position: relative;
    overflow-x: hidden;

    & .slider {
      position: absolute;
      display: flex;
      width: 400%;
      transform: translate3d(0px, 0px, 0px);
      transition: all 1s ease-in-out;

      & .card {
        width: 13rem;
        height: 18rem;
        margin: 0px 20px;
        border-radius: 10px;
        transition: all 0.4s ease-out;

        &:hover {
          background-color: #242540;

          & .lower-part {
            & .play-pause-btn {
              display: flex;
            }
          }
        }

        & .img {
          width: 100%;
          height: 68%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        & .lower-part {
          width: 100%;
          height: 32%;
          padding: 10px 0px 0px 20px;
          position: relative;

          & .head-text {
            @extend %font16b;
            color: $white-color;
          }

          & .songs-length {
            @extend %font14b;
            color: $grey-color;
            margin-top: 10px;
          }

          & .play-pause-btn {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: $theme-color;
            position: absolute;
            top: -27px;
            right: 15px;
            display: none;
            justify-content: center;
            align-items: center;
            padding-left: 6px;
            cursor: pointer;
          }
        }
      }
    }
  }
  & .second-section {
    display: flex;
    justify-content: space-between;

    & .songs-section {
      width: 50%;

      & .top-songs-section {
        display: flex;
        align-items: center;
        margin: 3rem 0px 0px 0px;

        & .top-songs {
          font-size: 24px;
          @extend %font24m;
          color: $white-color;
          margin-right: 2rem;
        }

        & .text {
          @extend %font16m;
          margin-left: 15px;
          cursor: pointer;
          padding-bottom: 3px;
          color: $white-color;
        }
        & .active {
          border-bottom: solid 2px $white-color;
        }
      }

      & .songs-list {
        color: $white-color;
        width: 100%;
        margin-top: 25px;

        & .head {
          border-bottom: 1px solid $grey-color;
          padding-bottom: 15px;

          & .hash,
          .artist-track,
          .album,
          .time,
          .plays {
            @extend %font16b;
            color: $white-color;
          }
        }

        & .song-details {
          padding: 16px 5px;
          border-radius: 5px;
          cursor: pointer;

          & .artist-track {
            & .details {
              & .song-name {
                @extend %font16b;
                color: $white-color;
              }

              & .song-artist {
                @extend %font14b;
                color: $grey-color;
                margin-top: 8px;
              }
            }
          }

          & .album,
          .time,
          .plays {
            @extend %font16r;
            color: $grey-color;
          }

          &:hover {
            background-color: $hover-bg-color;
          }
        }

        & .head,
        & .song-details {
          display: flex;
          width: 100%;
          justify-content: space-evenly;

          & .song-btn {
            width: 5%;
            display: flex;
            align-items: center;
          }

          & .hash {
            width: 5%;
            display: flex;
            align-items: center;
          }

          & .artist-track {
            width: 25%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & .img {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
            }
          }

          & .album {
            width: 15%;
            display: flex;
            align-items: center;
          }

          & .time {
            width: 5%;
            display: flex;
            align-items: center;
          }

          & .plays {
            width: 10%;
            display: flex;
            align-items: center;
          }

          & .add {
            width: 8%;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  & .video-section {
    width: 45%;
    margin: 2rem 0px 0px 0px;
    padding: 0px 1rem;

    & .head-section {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & .heading {
        @extend %font24b;
        color: $white-color;
      }

      & .video-controls {
        display: flex;

        & .slider-btn {
          background-color: $theme-color;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-left: 5px;
        }
      }
    }
    & .video-player {
      width: 100%;
      height: 100%;
      background-color: red;
    }
  }
}
